.inner {
    width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.Header {
    background: #1b3b86;
    height: 100px;
}

.Header h1 {
    line-height: 100px;
    font-size: 0;
}

.Header h1 img {
  transform: scale(0.8);
}
