.inner {
    width: 1200px;
    margin: 0 auto;
}

.csc {
    padding: 100px 0;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin: 0 0 30px 0;
}

.Header {
    justify-content: space-between;
    background: #1b3b86;
    height: 100px;
}

.Header .inner {
    display: flex;
    justify-content: space-between;
}

.Header h1 {
    line-height: 100px;
    font-size: 0;
}

.Header h1 a {
    display: inline-block;
    width: 80%;
}

.Header .GNB {
    line-height: 100px;
}

.Header .GNB > ul {
    display: flex;
    gap: 30px;
}

.Header .GNB a {
    display: block;
}

.Header .GNB > ul > li {
    position: relative;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.GNB .smenu {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 120px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.GNB .smenu li {
    position: relative;
    font-size: 15px;
    line-height: 40px;
}

.GNB > ul li:hover > .smenu {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background: #24489b;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 0 10px;
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.GNB > ul li:hover > .smenu li ~ li {
    border-top: 1px solid #7c93c7;
}

.MainVisual {
    position: relative;
}

.MainVisual figure {
    position: relative;
    height: calc(100vh - 100px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.MainVisual .item01 {
    background-image: url(../public/assets/mainvisual01.jpg);
    background-position: bottom 30% center;
}

.MainVisual .item02 {
    background-image: url(../public/assets/mainvisual02.jpg);
}

.MainVisual .item03 {
    background-image: url(../public/assets/mainvisual03.jpg);
}

.MainVisual .item04 {
    background-image: url(../public/assets/mainvisual04.jpg);
    background-position: bottom 35% center;
}

.MainVisual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MainVisual .slogan img {
    transform: scale(0.6);
}

.MainEnter {
}

.MainEnter .inner {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.MainEnter .left {
    flex: 2;
    border-top: 2px solid #1b3b86;
}

.MainEnter .left a {
    display: flex;
    padding: 0 5px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    line-height: 40px;
}

.MainEnter .left strong {
    font-size: 17px;
}

.MainEnter .left span {
    font-size: 15px;
}

.MainEnter .right {
    flex: 1;
}

.MainEnter figure {
    padding: 33px;
    text-align: center;
    word-break: keep-all;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    background: #1b3b86;
    cursor: pointer;
}

.MainEnter figure:nth-child(2) {
    background: #24489b;
}

.MainEnter figure:nth-child(3) {
    background: #2f54ac;
}

.MainEnter figure:nth-child(4) {
    background: #2d498a;
}

.MainEnter .right i {
    opacity: 0;
    transition: 0.3s;
}

.MainEnter .right figure:hover i {
    transform: translateX(15px);
    opacity: 1;
}

.MainNews {
}

.MainNews {
    background: #f5f5f5;
}

.MainNews .inner {
    flex-wrap: wrap;
    display: flex;
    gap: 50px;
}

.MainNews .inner figure {
    cursor: pointer;
    width: calc(25% - 40px);
}

.MainNews .inner img {
    width: 500px;
    margin: 0 0 10px 0;
}

.MainNews strong {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #1b3b86;
    margin: 0 0 10px 0;
}

.MainNews .title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 0 0 10px 0;
    line-height: 1.2;
    word-break: keep-all;
}

.MainNews .des {
    font-size: 15px;
    font-weight: 400;
    color: #333;
    line-height: 1.4;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #1b3b86;
}

.MainVideo video {
    width: 100%;
}

.MainInsta {
}

.MainInsta figure {
    cursor: pointer;
    position: relative;
}

.MainInsta i {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    color: #fff;
    padding: 5px;
}
